doctype html
head
  script(async='', src='https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3715996854656266', crossorigin='anonymous')
  script(async='', src='https://arc.io/widget.min.js#PahYNby2')
  script(type='text/javascript').
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/65a73b248d261e1b5f542d60/1hkaju21k';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
head
include includes/head
include includes/navbar
style(type='text/css').
    a:link {
    color: white;
    }
    a:visited {
    color: whitesmoke
    }
    a:hover {
    color: white
    }
.customcontainer
  .bubbles
    - for (let i = 1; i <= 50; i++)
        span(style=`--i:${Math.floor(Math.random() * (23 - 8 + 1) + 8)}`)
.container.text-center(style='padding: 3%;')
  h1 Game Search Engines
  h1 &#x2800;
  .container
  .row.row-cols-1.row-cols-md-5.g-4
    .col
      .card.m2.bg-dark(style='width: 13rem;')
        a(href='/uv/service/hvtrs8%2F-wuw%2Ccpaxyeaoeq.aoo%2F')
          img.card-img-top(src='https://cdn-1.webcatalog.io/catalog/crazy-games/crazy-games-icon-filled-256.png?v=1675597663154', alt='Crazy Games')
        .card-body(style='color: #b7b7b7;')
          h5.card-title Crazy Games
          p.card-text CrazyGames has over 4,500 fun games in every genre you can imagine.
    .col
      .card.m2.bg-dark(style='width: 13rem;')
        a(href='/uv/service/hvtrs8%2F-nmw%2Cge%2Feaoeq%2F%60rmwqep.jtol')
          img.card-img-top(src='https://th.bing.com/th/id/OIP.QwjBoQ3Cf_gizWpY5bYQjAAAAA?rs=1&pid=ImgDetMain', alt='now.gg')
        .card-body(style='color: #b7b7b7;')
          h5.card-title now.gg
          p.card-text now.gg is a mobile cloud platform that lets you play a wide variety of free online games.
    .col
      .card.m2.bg-dark(style='width: 13rem;')
        a(href='/uv/service/hvtrs8%2F-pmkk.aoo%2F')
          img.card-img-top(src='https://th.bing.com/th/id/OIP.d5DbHz_a2lwISy10ISq18wAAAA?rs=1&pid=ImgDetMain', alt='Poki Games')
        .card-body(style='color: #b7b7b7;')
          h5.card-title Poki Games
          p.card-text Poki has the best free games selection and offers the most fun experience to play alone or with friends.
    .col
      .card.m2.bg-dark(style='width: 13rem;')
        a(href='/use?game=geforce')
          img.card-img-top(src='https://th.bing.com/th/id/OIP.OoAQDgnPMuvyx-sny2kgWQAAAA?rs=1&pid=ImgDetMain', alt='play.gerforcenow.com')
        .card-body(style='color: #b7b7b7;')
          h5.card-title GeForce Now
          p.card-text
            | GeForce Now is a cloud based gaming website! You can play all your favorite games!
    .col
      .card.m2.bg-dark(style='width: 13rem;')
        a(href='/uv/service/hvtrs8%2F-yckqgcmgs%2Ccmm-')
          img.card-img-top(src='https://th.bing.com/th/id/OIP.3-ww0ryHJ6_rXOjTqgLmigHaHa?rs=1&pid=ImgDetMain', alt='Yak Games')
        .card-body(style='color: #b7b7b7;')
          h5.card-title Yak Games
          p.card-text YaksGames.com has the best free online games that you can play directly in your browser.
  h1 &#x2800;
  h1 Popular Games
//- .container.text-center(style='padding: 3%;')
//-   .row.row-cols-1.row-cols-md-5.g-4
//-     .col
//-       a.px-2(href='/use?game=hwhelp', style='display:block;text-align:center;padding:.5em;background-color:#0073e2;color:#fff;border-radius:4px;box-shadow:0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);text-decoration:none') All
//-     .col
//-       a.px-2(href='/use?game=popular', style='display:block;text-align:center;padding:.5em;background-color:#0073e2;color:#fff;border-radius:4px;box-shadow:0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);text-decoration:none') Popular
//-     .col
//-       a.px-2(href='/use?game=br', style='display:block;text-align:center;padding:.5em;background-color:#0073e2;color:#fff;border-radius:4px;box-shadow:0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);text-decoration:none') Battle Royale
//-     .col
//-       a.px-2(href='/use?game=multiplayer', style='display:block;text-align:center;padding:.5em;background-color:#0073e2;color:#fff;border-radius:4px;box-shadow:0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);text-decoration:none') Multiplayer
//-     .col
//-       a.px-2(href='/use?game=distance', style='display:block;text-align:center;padding:.5em;background-color:#0073e2;color:#fff;border-radius:4px;box-shadow:0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);text-decoration:none') Distance Games
  h1 &#x2800;
.container
  .row.row-cols-1.row-cols-md-5.g-4
    .col
      .card.m2.bg-dark(style='width: 13rem;')
        a(href='/use?game=1v1')
          img.card-img-top(src='https://www.giantbomb.com/a/uploads/scale_small/45/454004/3160840-1v1.lol%20official%20logo.jpg', alt='1v1.lol')
        .card-body(style='color: #b7b7b7;')
          h5.card-title 1v1.lol
          p.card-text 1v1.lol is a fast paced web based FPS game.
    .col
      .card.m2.bg-dark(style='width: 13rem;')
        a(href='/use?game=deadshot')
          img.card-img-top(src='https://yt3.ggpht.com/a/AATXAJz4stTpp9Y-lqmwaj4vV9udfFZHRp1nUP390g=s900-c-k-c0xffffffff-no-rj-mo', alt='1v1.lol')
        .card-body(style='color: #b7b7b7;')
          h5.card-title Deadshot.io
          p.card-text 1v1.lol is a fast paced web based FPS game.
    .col
      .card.m2.bg-dark(style='width: 13rem;')
        a(href='/use?game=justfall')
          img.card-img-top(src='https://th.bing.com/th/id/OIP.gBUw3nDEDdBvcnJbypR3nwHaHa?pid=ImgDet&rs=1', alt='justfall.lol')
        .card-body(style='color: #b7b7b7;')
          h5.card-title Justfall.lol
          p.card-text A fallguys clone made on the web!
    .col
      .card.m2.bg-dark(style='width: 13rem;')
        a(href='/use?game=retrobowl')
          img.card-img-top(src='https://www.popcornbanter.com/wp-content/uploads/2020/10/retroBowlCover-585x585.jpg', alt='1v1.lol')
        .card-body(style='color: #b7b7b7;')
          h5.card-title Retro Bowl
          p.card-text Basically football, but really pixelly and old.
    .col
      .card.m2.bg-dark(style='width: 13rem;')
        a(href='/use?game=krunker')
          img.card-img-top(src='https://th.bing.com/th/id/OIP.h_73aWA5Rl-BKFZwzXt89wHaHa?rs=1&pid=ImgDetMain', alt='1v1.lol')
        .card-body(style='color: #b7b7b7;')
          h5.card-title Krunker.io
          p.card-text Krunker is a multiplayer online game that lets you play various FPS games.
    .col
      .card.m2.bg-dark(style='width: 13rem;')
        a(href='/use?game=paper')
          img.card-img-top(src='https://is2-ssl.mzstatic.com/image/thumb/Purple128/v4/76/23/b6/7623b619-0abc-d87e-0b5d-84af189ca809/source/1280x1280bb.jpg', alt='Paper.io')
        .card-body(style='color: #b7b7b7;')
          h5.card-title Paper.io
          p.card-text A territorial game where you need to collect the most paper!
    .col
      .card.m2.bg-dark(style='width: 13rem;')
        a(href='/use?game=shellshock')
          img.card-img-top(src='https://opimg.s3.amazonaws.com/2f9f3d3a1a.jpg', alt='shellshock.io')
        .card-body(style='color: #b7b7b7;')
          h5.card-title Shell Shockers
          p.card-text A fast paced FPS web-based game... but youre an egg!
    .col
      .card.m2.bg-dark(style='width: 13rem;')
        a(href='/use?game=venge')
          img.card-img-top(src='https://th.bing.com/th/id/R.093808772bf79568458e0a34e6e84cd0?rik=3%2bf1QvuztnXmQg&pid=ImgRaw&r=0', alt='venge.io')
        .card-body(style='color: #b7b7b7;')
          h5.card-title Venge.io
          p.card-text Venge is an objective-based first person shooter.
    .col
      .card.m2.bg-dark(style='width: 13rem;')
        a(href='/use?game=minecraft')
          img.card-img-top(src='https://play-lh.googleusercontent.com/VSwHQjcAttxsLE47RuS4PqpC4LT7lCoSjE7Hx5AW_yCxtDvcnsHHvm5CTuL5BPN-uRTP', alt='Minecraft')
        .card-body(style='color: #b7b7b7;')
          h5.card-title Minecraft
          p.card-text
            | Minecraft is a fun game where you have to let your creativeness shine and survive!
    .col
      .card.m2.bg-dark(style='width: 13rem;')
        a(href='/use?game=sf')
          img.card-img-top(src='https://upload.wikimedia.org/wikipedia/commons/7/7c/Fortnite_F_lettermark_logo.png', alt='Fortnite')
        .card-body(style='color: #b7b7b7;')
          h5.card-title Scratch Fortnite
          p.card-text A cool twist on fortnite that is made in scratch! (kinda addictive lol)
    .col
      .card.m2.bg-dark(style='width: 13rem;')
        a(href='/use?game=slope')
          img.card-img-top(src='https://playslope.com/images/slope.jpg', alt='Slope')
        .card-body(style='color: #b7b7b7;')
          h5.card-title Slope
          p.card-text A game where you need to avoid obstacles using arrow keys!
    .col
      .card.m2.bg-dark(style='width: 13rem;')
        a(href='/use?game=run3')
          img.card-img-top(src='https://img.poki.com/cdn-cgi/image/quality=78,width=314,height=314,fit=cover,f=auto/d3c19e9b-9b7b-4a54-9cb5-6188a5bd7d3b.png', alt='Run 3')
        .card-body(style='color: #b7b7b7;')
          h5.card-title Run 3
          p.card-text Control character and avoid obstacles. IN SPACE!?!?!
    .col
      .card.m2.bg-dark(style='width: 13rem;')
        a(href='/use?game=cc')
          img.card-img-top(src='https://play-lh.googleusercontent.com/OssE3ON9WsLZedOF39UCgtIHcRYfV0OqQS9O78LfmRdxSyKdHX52G2OFa0LkG6D-k9w', alt='Cookie Clicker')
        .card-body(style='color: #b7b7b7;')
          h5.card-title Cookie Clicker
          p.card-text
            | Make cookies at the click of a button and buy upgrades with them! MAKE A COOKIE EMPIRE!
    .col
      .card.m2.bg-dark(style='width: 13rem;')
        a(href='/use?game=gettingover')
          img.card-img-top(src='https://play-lh.googleusercontent.com/xEDOZ9oZZrHswGxUR3w55e4XL9nF2r9HQpmpBO2iGsX3EbCstxawIpZB-EykrCPl6c0', alt='Scratch Getting Over It')
        .card-body(style='color: #b7b7b7;')
          h5.card-title Scratch Getting Over It
          p.card-text An extremely well made recreation of getting over it in scratch.
    .col
      .card.m2.bg-dark(style='width: 13rem;')
        a(href='/use?game=subwaysurf')
          img.card-img-top(src='https://play-lh.googleusercontent.com/NVJuKheL9D0uzQf-QNTBtcr7BzfUwwqi4-zKVddVdxrsMdoNAv7k332oso9th4ns4Xwa', alt='Subway Surfers')
        .card-body(style='color: #b7b7b7;')
          h5.card-title Subway Surfers
          p.card-text Run away from the guard in a subway station! Be sure to dodge all the traps!
    .col
      .card.m2.bg-dark(style='width: 13rem;')
        a(href='/use?game=fnaf')
          img.card-img-top(src='https://th.bing.com/th/id/OIP.YZwheE6FWmMwk7bnsnM9dQHaHa?pid=ImgDet&rs=1', alt='FNAF')
        .card-body(style='color: #b7b7b7;')
          h5.card-title FNAF
          p.card-text Can you survive the night?
    .col
      .card.m2.bg-dark(style='width: 13rem;')
        a(href='/use?game=cuttherope')
          img.card-img-top(src='https://s1.mzstatic.com/us/r30/Purple/v4/a8/00/e1/a800e18e-d37d-f860-de10-9ae8d28d7e4a/mzl.pyrbezag.png', alt='Cut The Rope')
        .card-body(style='color: #b7b7b7;')
          h5.card-title Cut The Rope
          p.card-text Find strategic ways to cut the rope and get the food to your pet!
    .col
      .card.m2.bg-dark(style='width: 13rem;')
        a(href='/use?game=beans')
          img.card-img-top(src='https://th.bing.com/th/id/OIP.IASIH1Lv6Fm3R_VhS18xTQAAAA?rs=1&pid=ImgDetMain', alt='Stumble Guys')
        .card-body(style='color: #b7b7b7;')
          h5.card-title LOL Beans
          p.card-text Kinda like Fall Guys, couldnt get Stumble Guys to work.
  h1 &#x2800;